<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Rule cho backend API -->
        <rule name="NodeJS API" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="src/app.js" />
        </rule>
        <!-- Rule cho frontend -->
        <rule name="React Frontend" stopProcessing="true">
          <match url="^(?!api/).*" />
          <action type="Rewrite" url="frontend/index.html" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>