<configuration>
  <system.webServer>
    <handlers>
      <!-- Chạy NodeJS bằng iisnode -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Tất cả request đều chuyển về server.js -->
        <rule name="NodeJS API" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Tăng thời gian chờ request nếu cần -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
